<style>
.navbar navbar-inverse navbar-fixed-top{
    background-color: white;
    background-image: url("https://cdn.futura-sciences.com/buildsv6/images/wide1920/d/6/7/d6788ffc55_50149129_empreinte-carbone-cienpiesnf-fotolia.jpg");
}
.navbar .navbar-default{
  background-image: url("https://cdn.futura-sciences.com/buildsv6/images/wide1920/d/6/7/d6788ffc55_50149129_empreinte-carbone-cienpiesnf-fotolia.jpg");
}

</style>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Calculette</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="about"><a href="/about">About</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>