<%- include ('jquery.ejs'); -%>
<%- include ('swal.ejs'); -%>
<%- include ('headercss.ejs'); -%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<style>
      * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #094917;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  width: 20%;
}

input[type=submit]:hover {
  background-color: #1d5f1b;
}

.text {
  box-sizing: border-box;
  line-height: 1.4;
  margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: white ;
	font-weight: normal;
	position: relative;
  top:10%;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	font-size: 24px;
	line-height: 40px;
	font-family: 'Carrois Gothic', sans-serif;
  border-bottom: 11px solid #1C6EA4;
  border-radius: 38px;
}

.contain {
  border-radius: 30px;
  padding: 30px;
}

.col-25 {
  float: left;
  width: 40%;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.col-75 {
  float: left;
  width: 55%;
  margin-top: 10px;
  font-size: 20px;
}


.h1 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	color: #6B5344;
	font-weight: normal;
	position: relative;
	text-shadow: 0 2px 0 rgba(255,255,255,0.5);
	font-size: 30px;
	line-height: 40px;
	font-family: 'Carrois Gothic', sans-serif;
}

.a {
  font-size: 50px;
}
HTML CSS 

Result
Skip Results Iframe

EDIT ON

*{
margin:0;
padding:0;
}

.container{  padding-top: 20px;
padding-bottom: 20px;
}
body{
background-color:rgba(255, 255, 255, 0.144);
overflow: scroll;
}

.background-img{
background-image: url("https://nonprod-media.webdunia.com/public_html/_media/gu/img/article/2021-08/24/full/1629802995-8037.png");
width: 100%;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
margin: 5% auto;
padding:20px;
border: 1px solid #21400fa6;
border-radius: 4px;
box-shadow: 0px 0px 5px #2a3cad;
position: relative;
top: 150px;
}

.content h2{ font-size:19px;}

.box{
position: relative;
top:65%;
left:50%;
transform: translate(-50%, -50%);
width: 100%;
height: 700px;
background: #21400fa6;
box-sizing: border-box;
box-shadow: 0 20px 50px rgb(23, 32, 90);
border: 2px solid  #4b804e;
color: white;
padding: 20px;
margin-left: auto;
margin-right: auto;
overflow-y: auto;
max-height: 700px;
border-radius: 30px;
}

.box2{
position: relative;
top:530px;
left:1500px;
transform: translate(-50%, -50%);
width: 50%;
height: 620px;
background: #111845a6;
box-sizing: border-box;
overflow: hidden;
box-shadow: 0 20px 50px rgb(23, 32, 90);
border: 2px solid #2a3cad;
color: white;
padding: 20px;
border-radius: 30px;
}

.box:before{
content: '';
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background: rgba(255,255,255,0.1);
transition:0.5s;
pointer-events: none;
}

.box:hover:before{
left:-50%;
transform: skewX(-5deg);
}


.box .content{
position:absolute;
top:10px;
left:10px;
right:10px;
bottom:10px;
border:1px solid #57a862;
padding:20px;
text-align:center;
box-shadow: 0 5px 10px rgba(9,0,0,0.5);
overflow-y: auto;
max-height: 700px;
border-radius: 30px;

}

.box span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
box-sizing: border-box;

}

.box span:nth-child(1)
{
transform:rotate(0deg);
}

.box span:nth-child(2)
{
transform:rotate(90deg);
}

.box span:nth-child(3)
{
transform:rotate(180deg);
}

.box span:nth-child(4)
{
transform:rotate(270deg);
}

.box span:before
{
content: '';
position: relative;
width:50%;
height: 2px;
background: #50dfdb;
animation: animate 4s linear infinite;
}

.box2:before{
content: '';
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background: rgba(255,255,255,0.1);
transition:0.5s;
pointer-events: none;
}

.box2:hover:before{
left:-50%;
transform: skewX(-5deg);
}


.box2 .content{
position:absolute;
top:10px;
left:10px;
right:10px;
bottom:10px;
border:1px solid #f0a591;
padding:20px;
text-align:center;
box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box2 span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
box-sizing: border-box;

}

.box2 span:nth-child(1)
{
transform:rotate(0deg);
}

.box2 span:nth-child(2)
{
transform:rotate(90deg);
}

.box2 span:nth-child(3)
{
transform:rotate(180deg);
}

.box2 span:nth-child(4)
{
transform:rotate(270deg);
}

.box2 span:before
{
content: '';
position: relative;
width:100%;
height: 2px;
background: #50dfdb;
animation: animate 4s linear infinite;
}

@keyframes animate {
0% {
transform:scaleX(0);
transform-origin: left;
}
50%
{
transform:scaleX(1);
transform-origin: left;
}
50.1%
{
transform:scaleX(1);
transform-origin: right;

}

100%
{
transform:scaleX(0);
transform-origin: right;

}


} 


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px ) {
  .col-25, .col-75, .box ,.container, .content, .text, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-height: 620px ) {
  .col-25, .col-75, .box ,.container, .content, .text, input[type=submit] {
    height: 100%;
    margin-top: 0;
  }
}



</style>

<div class="header">
   <div class="bg"></div>
   <div class="logo">
      <svg viewBox="0 0 24 24">
  <path d="M11.83,1.73C8.43,1.79 6.23,3.32 6.23,3.32C5.95,3.5 5.88,3.91 6.07,4.19C6.27,4.5 6.66,4.55 6.96,4.34C6.96,4.34 11.27,1.15 17.46,4.38C17.75,4.55 18.14,4.45 18.31,4.15C18.5,3.85 18.37,3.47 18.03,3.28C16.36,2.4 14.78,1.96 13.36,1.8C12.83,1.74 12.32,1.72 11.83,1.73M12.22,4.34C6.26,4.26 3.41,9.05 3.41,9.05C3.22,9.34 3.3,9.72 3.58,9.91C3.87,10.1 4.26,10 4.5,9.68C4.5,9.68 6.92,5.5 12.2,5.59C17.5,5.66 19.82,9.65 19.82,9.65C20,9.94 20.38,10.04 20.68,9.87C21,9.69 21.07,9.31 20.9,9C20.9,9 18.15,4.42 12.22,4.34M11.5,6.82C9.82,6.94 8.21,7.55 7,8.56C4.62,10.53 3.1,14.14 4.77,19C4.88,19.33 5.24,19.5 5.57,19.39C5.89,19.28 6.07,18.92 5.95,18.6V18.6C4.41,14.13 5.78,11.2 7.8,9.5C9.77,7.89 13.25,7.5 15.84,9.1C17.11,9.9 18.1,11.28 18.6,12.64C19.11,14 19.08,15.32 18.67,15.94C18.25,16.59 17.4,16.83 16.65,16.64C15.9,16.45 15.29,15.91 15.26,14.77C15.23,13.06 13.89,12 12.5,11.84C11.16,11.68 9.61,12.4 9.21,14C8.45,16.92 10.36,21.07 14.78,22.45C15.11,22.55 15.46,22.37 15.57,22.04C15.67,21.71 15.5,21.35 15.15,21.25C11.32,20.06 9.87,16.43 10.42,14.29C10.66,13.33 11.5,13 12.38,13.08C13.25,13.18 14,13.7 14,14.79C14.05,16.43 15.12,17.54 16.34,17.85C17.56,18.16 18.97,17.77 19.72,16.62C20.5,15.45 20.37,13.8 19.78,12.21C19.18,10.61 18.07,9.03 16.5,8.04C14.96,7.08 13.19,6.7 11.5,6.82M11.86,9.25V9.26C10.08,9.32 8.3,10.24 7.28,12.18C5.96,14.67 6.56,17.21 7.44,19.04C8.33,20.88 9.54,22.1 9.54,22.1C9.78,22.35 10.17,22.35 10.42,22.11C10.67,21.87 10.67,21.5 10.43,21.23C10.43,21.23 9.36,20.13 8.57,18.5C7.78,16.87 7.3,14.81 8.38,12.77C9.5,10.67 11.5,10.16 13.26,10.67C15.04,11.19 16.53,12.74 16.5,15.03C16.46,15.38 16.71,15.68 17.06,15.7C17.4,15.73 17.7,15.47 17.73,15.06C17.79,12.2 15.87,10.13 13.61,9.47C13.04,9.31 12.45,9.23 11.86,9.25M12.08,14.25C11.73,14.26 11.46,14.55 11.47,14.89C11.47,14.89 11.5,16.37 12.31,17.8C13.15,19.23 14.93,20.59 18.03,20.3C18.37,20.28 18.64,20 18.62,19.64C18.6,19.29 18.3,19.03 17.91,19.06C15.19,19.31 14.04,18.28 13.39,17.17C12.74,16.07 12.72,14.88 12.72,14.88C12.72,14.53 12.44,14.25 12.08,14.25Z"></path>
</svg>
   </div>
   <h1 class="htitle">Calculez votre empreinte carbone</h1>
   <div class="hlog">
      <svg class="hicon" width="24" height="24" viewBox="0 0 24 24">
  <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z"></path>
</svg>
      <p class="htext">Sign Up</p>
   </div>
</div>

<div class="about">
   <script src="/views/swal.ejs"></script>
<script src="jquery.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    
    <div class="box">
  <form id="form1" method="POST" action="/transports">
    
      <div class="content">
        <p><a><h1> Empreinte transports</h1></a></p> <br>
    <div class="row">
      <div class="col-25">
        <label for="transport">Comment venez-vous au travail ?</label>
      </div>
      <div class="col-75">
        <select id="transport" name="transport">
          <option value="commun">Transports en commun</option>
          <option value="voiture">Voiture</option>
          <option value="velo">Vélo</option>
          <option value="train">Train</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nbKmVoiture">Combien de kilomètres faites-vous lors de votre trajet maison/travail ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="kmVoiture" name="kmVoiture" placeholder="Nombre de km par an">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="carburant">Quel type de carburant utilisez-vous pour vos déplacements professionnels ?</label>
      </div>
      <div class="col-75">
        <select id="carburant" name="carburant">
          <option value="diesel">Diesel</option>
          <option value="essence">Essence</option>
        </select>
      </div>
    </div> 
    <div class="row">
      <div class="col-25">
        <label for="kmAvion">Combien de kilomètres faites-vous en avion dans le cadre du travail ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="kmAvion" name="kmAvion" placeholder="Nombre de km par an">
      </div>
    </div> <br>
    <p><a><h1> Empreinte numérique</h1></a></p><br>
    <div class="row">
      <div class="col-25">
        <label for="country">Avez-vous un téléphone professionnel ?</label>
      </div>
      <div class="col-75">
        <select id="tel" name="tel">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pc">Avez-vous un PC au travail ?</label>
      </div>
      <div class="col-75">
        <select id="pc" name="pc">
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nbHeures">Si oui, combien d'heures passez-vous en moyenne chaque jour sur votre pc professionnel ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="nbHeures" name="nbHeures" placeholder="Nombre d'heures passées sur votre pc chaque jour"> 
      </div>
    </div> 
    <div class="row">
      <div class="col-25">
        <label for="nbAnnees">Nombre d'années d'utilisation de votre pc ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="nbAnnees" name="nbAnnees" placeholder="Nombre d'années d'utilisation de votre PC"> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="autre">Utilisez-vous des appareils supplémentaires ?</label>
      </div>
      <div class="col-75">
        <select id="autre" name="autre">
          <option value="non">Non</option>
          <option value="tablette">J'utilise une tablette</option>
          <option value="autrePC">J'utilise un deuxième PC</option>
          <option value="fixe">J'utilise un PC fixe</option>
          <option value="autreEcran">J'utilise un deuxième écran</option>

        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nbMails">Nombre d'emails simples reçus et envoyés chaque jour ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="nbMails" name="nbMails" placeholder="Total de mails reçus/envoyés chaque jour"> 
      </div>
    </div> 
    <div class="row">
      <div class="col-25">
        <label for="nbMailsPj">Nombre d'emails avec pièces jointes reçus et envoyés  chaque jour ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="nbMailsPj" name="nbMailsPj" placeholder="Total de mails reçus/envoyés chaque jour"> 
      </div>
    </div> 
    <div class="row">
      <div class="col-25">
        <label for="nbImpression">Nombre d'impressions par jour ?</label>
      </div>
      <div class="col-75">
        <input type="text" id="nbImpression" name="nbImpression" placeholder="Total d'impression par jour"> 
      </div>
    </div>  
    <br>
    <div class="row">
      <input type="submit" value="Envoyer">
    </div> 
 </form> </div> </div>
</body>

<script>
var dieselDepense = 133 ; // 133g de co2/km pour une voiture diesel d'une moyenne de 5L/100km
var essenceDepense = 118 ;
var avionDepense = 285 ;
var transportsCommunDepense = 68 ; //68g par passager
var trainDepense = 52;
var depenseFeuilleImprimee = 10 ; 
var depenseMail = 4;
var depenseMailPJ = 10 ;
var coutTel = 45;
var coutOrdi = 0.1 ;
  $("#form1").submit(e => {
    
    e.preventDefault() //annule la soumission du form
    let formData = new FormData(e.target) //objet js pour creer formulaire, reprend le formulaire à l'intérieur du formdata
    var transport = formData.get("transport"); //recupere les données du formulaire
    var kmVoiture = parseInt(formData.get("kmVoiture"));
    var carburant = formData.get("carburant");
    var kmAvion = parseInt(formData.get("kmAvion"));
    var depenseTotaleTransports = calculEmpreinteTransports(transport,kmVoiture,carburant,kmAvion)/1000;
    
    var nbMail = parseInt(formData.get("nbMails"));
    var nbMailPj = parseInt(formData.get("nbMailsPj")); 
    var nbImpression = parseInt(formData.get("nbImpression")); 
    var depenseTotaleMails = Math.round(calculEmpreinteMailsSimple(nbMail)+calculEmpreinteMailsPj(nbMailPj)*253/1000);
    var depenseImpression = Math.round(calculEmpreinteImpression(nbImpression)*253/1000);
    var nbHeures = parseInt(formData.get("nbHeures")); 
    var pc = formData.get("pc");
    var depenseordi = 0;
    var nbAnnees = parseInt(formData.get("nbAnnees")); 
    var autreAppareils = formData.get("autre");
    var depenseAutre = 0 ;
    
    if(pc=='oui'){
      depenseordi = Math.round((305/nbAnnees)+ (calculEmpreintePc(nbHeures,65)*coutOrdi));
    }
    if(autreAppareils == 'tablette'){
      depenseAutre = Math.round((83/nbAnnees)+(calculEmpreintePc(nbHeures,15)*coutOrdi));
    }
    if(autreAppareils == 'autrePc'){
      depenseAutre = depenseordi * 2 ;
    }
    if(autreAppareils == 'fixe'){
      depenseAutre = Math.round((793/nbAnnees)+(calculEmpreintePc(nbHeures,280)*coutOrdi));
    }
    if(autreAppareils == 'autreEcran'){
      depenseAutre = Math.round((336/nbAnnees)+(calculEmpreintePc(nbHeures,115)*coutOrdi));
    }

    var tel = 0 ;
    if(formData.get("tel")== "oui"){
       tel = coutTel ;

    }
    var depenseTotaleNumerique = Math.round(depenseTotaleMails + depenseImpression + tel + depenseordi + depenseAutre);
    var depenseTotale = Math.round(depenseTotaleTransports + depenseTotaleNumerique );
    var compensationArbre = Math.round(depenseTotale/167);
    var conseils = "" ;
    if(depenseTotaleTransports> 300 && depenseTotaleNumerique > 400){
      conseils = "Vous depensez trop de carbone dans votre mode de déplacement, privilégiez le covoiturage et les transports en commun ! Votre empreinte numérique est aussi élevée, réduisez là en diminuant l'envoie de mails et ne laissez plus vos appareils numériques sur secteur.";
    }
    else if (depenseTotaleTransports < 300 && depenseTotaleNumerique > 400){
        conseils = "Votre empreinte transports est convenable ! Votre empreinte numérique est élevée, réduisez là en diminuant l'envoie de mails et ne laissez plus vos appareils numériques sur secteur.";
    }
    else if (depenseTotaleTransports > 300 && depenseTotaleNumerique < 400){
      conseils = "Vous depensez trop de carbone dans votre mode de déplacement, privilégiez le covoiturage et les transports en commun !  Votre empreinte numérique est convenable, pour la réduire, pensez à débrancher vos PCs.";
    }
    else if (depenseTotaleTransports < 300 && depenseTotaleNumerique < 400){
      conseils = "Continuez dans votre lancée ! Votre empreinte transports est convenable ! Votre empreinte numérique est convenable, pour la réduire, pensez à débrancher vos PCs.";
    }
    else {
      conseils = "r";
    }

    // Pop up
    swal.fire({
      
      imageUrl: 'https://lempreintecarbone.fr/wp-content/uploads/2021/01/xImage-Bilan-Carbone-1024x504.png.pagespeed.ic.Yw4njfP1P1.jpg',
      imageWidth: 400,
      imageHeight: 200,
      imageAlt: 'Custom image',
      title: 'Votre dépense carbone totale est de '+depenseTotale+' Kg de CO2 <br><br> <div style="color:green">Il faudrait '+compensationArbre+' arbres pour compenser ce C02 !</div><b>',
      html:
    '<br><div class="content"><p><a><h2>Empreinte transports : <br>'+depenseTotaleTransports+' kg de CO2 </h2> </a></p> <br> <p><a><h2> Empreinte numérique : <br>'+depenseTotaleNumerique+' Kg de CO2 </h2> <br> <ul> <li> Votre téléphone dépense en moyenne '+coutTel+' Kg de C02 </li></ul> <li>Vos ordinateurs de bureau dépensent en moyenne '+depenseordi+depenseAutre+' Kg de CO2 </li><li>Vos mails dépensent '+depenseTotaleMails+' Kg de CO2</li> <li>Vos impressions dépensent '+depenseImpression+' Kg de CO2</li></ul> </a></p><br><br><b><div style="color:green">'+ conseils+'</div>',
      footer: '<a href="/infos">Cliquez pour avoir plus de conseils pour réduire votre empreinte carbone</a>'
    })
    console.log(depenseTotale);
  })

  function calculEmpreinteTransports(transportType,nbKmVoiture,carburantType,nbKmAvion){
   var depenseVoiture ;
   var depenseCommun ;
   var depenseAvion = avionDepense*nbKmAvion;
   if(transportType == 'voiture'){
      if(carburantType == 'diesel'){
         depenseVoiture = nbKmVoiture * dieselDepense ;
      }
      depenseVoiture = nbKmVoiture * essenceDepense ;
      return depenseVoiture + depenseAvion ;
   }
   else if (transportType == 'commun') {
   depenseCommun = transportsCommunDepense * nbKmVoiture ;
   return depenseCommun + depenseAvion ;
}
   else if (transportType == 'train'){
     var depenseTrain = trainDepense * nbKmVoiture ;
     return depenseTrain+depenseAvion;
   }
   return depenseAvion ;
   
 }

 function calculEmpreinteMailsSimple(nbMails){
   return Math.round(nbMails * depenseMail) ;  
 }

 function calculEmpreinteMailsPj(nbMailsPj){
   return Math.round(nbMailsPj * depenseMailPJ) ;  
 }

 function calculEmpreinteImpression(nbImpression){
   return Math.round(nbImpression * depenseFeuilleImprimee) ;  
 }
 
 function calculEmpreintePc(nbHeures,conso){
   var jourOuvrés = 253 ;
   return Math.round(nbHeures*jourOuvrés*(conso/1000));
 }


</script>
</div>

    <!-- Latest compiled and minified JavaScript -->
    <script
        src="https://fonts.googleapis.com/css?family=Raleway:400,400i,700"></script>
        <script
        src="https://fonts.googleapis.com/css?family=Open+Sans"></script>
